# Exploratory Data Analysis

In [1]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mysql.connector

In [2]:
superstore_df = pd.read_csv("cleaned_superstore.csv")
superstore_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   row_id            9994 non-null   int64
 1   order_id          9994 non-null   object
 2   order_date        9994 non-null   object
 3   ship_date         9994 non-null   object
 4   ship_mode         9994 non-null   object
 5   customer_id       9994 non-null   object
 6   customer_name     9994 non-null   object
 7   segment           9994 non-null   object
 8   country           9994 non-null   object
 9   city              9994 non-null   object
 10  state             9994 non-null   object
 11  postal_code       9994 non-null   int64
 12  region            9994 non-null   object
 13  product_id        9994 non-null   object
 14  category          9994 non-null   object
 15  sub_category      9994 non-null   object
 16  product_name      9994 non-null   object
 17  sales             9994 non-null   float64
 18  quantity          9994 non-null   int64
 19  discount          9994 non-null   float64
 20  profit            9994 non-null   float64
 21  profit_margin     9994 non-null   float64
 22  discounted_sales  9994 non-null   float64
 23  order_year        9994 non-null   int64
 24  order_month       9994 non-null   int64
 25  order_day         9994 non-null   int64
 26  ship_year         9994 non-null   int64
 27  ship_month        9994 non-null   int64
 28  ship_day          9994 non-null   int64
dtypes: float64(5), int64(9), object(15)
memory usage: 2.2+ MB

In [3]:
superstore_df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,discount,profit,profit_margin,discounted_sales,order_year,order_month,order_day,ship_year,ship_month,ship_day
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,0.00,41.9136,0.1600,261.9600,2016,11,8,2016,11,11
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,0.00,219.5820,0.3000,731.9400,2016,11,8,2016,11,11
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,0.00,6.8714,0.4700,14.6200,2016,6,12,2016,6,16
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,0.45,-383.0310,-0.4000,526.6676,2015,10,11,2015,10,18
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,0.20,2.5164,0.1125,17.8944,2015,10,11,2015,10,18

## Customer Analysis

Demographic Distribution: Examine how customers are distributed across regions, states, and cities to identify key markets

Segment Performance: Evaluate sales, profit, and quantity by customer segment to understand which segments contribute most

Geographic Insights: Analyze sales, quantity, and profit by city, state, and region for location-based performance trends

Purchase Patterns: Explore customer buying behavior, including order frequency, profitability, and preferred products

## Sales Analysis

Overall Performance: Track sales, profit, and quantity over time (year and month) to monitor trends and seasonality

Profitability: Assess profit margins across products, categories, and sub-categories to identify high-margin items

Discount Impact: Measure how discounts influence sales revenue and profit to optimize pricing strategies

## Product Analysis

Top Products: Rank products from most to least sold by quantity and revenue to highlight best-sellers

Category & Sub-category Performance: Evaluate revenue and sales by category and sub-category to identify strong-performing product groups

Product Trends: Detect seasonal or time-based trends in product demand for inventory and marketing planning

## Logistics Analysis

Order Volume: Monitor the number of orders over time (year and month) to assess business growth and seasonality

Shipping Mode Performance: Evaluate sales, profit, and delivery efficiency across different shipping modes

Lead Time Analysis: Analyze the time between order and shipment and its impact on sales and customer satisfaction