# Data Preprocessing

## Phase 1: Data Cleaning

In [5]:
# Import libraries
import numpy as np
import pandas as pd

In [6]:
# load dataset
superstore_df = pd.read_csv("superstore_sales.csv")

In [7]:
# inspect dataset info
superstore_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [8]:
# inspect first 5 rows of the dataset
superstore_df.head()

# each column have the correct data types

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [9]:
# check summary statistics
superstore_df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [10]:
# check for duplicate data
superstore_df.duplicated().sum()

# there is 1 duplicate, so let us drop it
superstore_df.drop_duplicates()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [11]:
# check for missing data
superstore_df.isnull().sum()

# there are no missing values

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [12]:
# check for data constraint problems

superstore_df['Sales'].std()

# sales values all clear

superstore_df['Quantity'].unique()

# no negative or outlier quantity values

superstore_df['Discount'].unique()

# discount values all clear

superstore_df['Profit'].unique()

# profit values all clear

superstore_df['Order ID'].value_counts()

# duplicate order ids are fine because they represent multiple items ordered under 1 order

superstore_df['Customer ID'].value_counts()

# duplicate customer ids are fine as well, with a similar reason with order id

Customer ID
WB-21850    37
JL-15835    34
MA-17560    34
PP-18955    34
CK-12205    32
            ..
LD-16855     1
AO-10810     1
CJ-11875     1
RE-19405     1
JR-15700     1
Name: count, Length: 793, dtype: int64

In [13]:
# check for text or categorical data problems - part 1

# ensure categorical columns have correct and consistent categories
superstore_df['Ship Mode'].unique()
superstore_df['Segment'].unique()
superstore_df['Country'].unique()
superstore_df['City'].unique()
superstore_df['State'].unique() # has 49 states
superstore_df['Region'].unique()
superstore_df['Category'].unique()
superstore_df['Sub-Category'].unique()

# all clear!

array(['Bookcases', 'Chairs', 'Labels', 'Tables', 'Storage',
       'Furnishings', 'Art', 'Phones', 'Binders', 'Appliances', 'Paper',
       'Accessories', 'Envelopes', 'Fasteners', 'Supplies', 'Machines',
       'Copiers'], dtype=object)

In [14]:
# check for text or categorical data problems - part 2

# ensure text columns, such as order id, customer id, and price id, have the same string length
superstore_df['Order ID'].str.len().nunique() == 1
superstore_df['Customer ID'].str.len().nunique() == 1
superstore_df['Product ID'].str.len().nunique() == 1

# all clear!

# ensure text columns have consistent formatting - TODO?

True

In [15]:
# check for data uniformity problems

# ensure numeric columns have consistent formatting
superstore_df['Sales'] = superstore_df['Sales'].round(4)
superstore_df['Profit'] = superstore_df['Profit'].round(4)

# ensure date columns have consistent formatting - TODO?

## Phase 2: Data Transformation

In [16]:
# rename columns
superstore_df = superstore_df.rename(columns={'Row ID': 'row_id', 'Order ID': 'order_id', 'Order Date': 'order_date', 'Ship Date': 'ship_date',
                                              'Ship Mode': 'ship_mode', 'Customer ID': 'customer_id', 'Customer Name': 'customer_name',
                                              'Segment': 'segment', 'Country': 'country', 'City': 'city', 'State': 'state',
                                              'Postal Code': 'postal_code', 'Region': 'region', 'Product ID': 'product_id',
                                              'Category': 'category', 'Sub-Category': 'sub_category', 'Product Name': 'product_name',
                                              'Sales': 'sales', 'Quantity': 'quantity', 'Discount': 'discount', 'Profit': 'profit'})

superstore_df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [17]:
# create profit margins column
superstore_df['profit_margin'] = superstore_df['profit'] / superstore_df['sales']
superstore_df['profit_margin'] = superstore_df['profit_margin'].round(4)

superstore_df['profit_margin'].head()

0    0.1600
1    0.3000
2    0.4700
3   -0.4000
4    0.1125
Name: profit_margin, dtype: float64

In [18]:
# create discounted sales column
superstore_df['discounted_sales'] = superstore_df['sales'] * (1 - superstore_df['discount'])
superstore_df['discounted_sales'] = superstore_df['discounted_sales'].round(4)

superstore_df['discounted_sales'].head()

0    261.9600
1    731.9400
2     14.6200
3    526.6676
4     17.8944
Name: discounted_sales, dtype: float64

In [19]:
# convert order date in datetime type to extract day, month, and year
superstore_df['order_date'] = pd.to_datetime(superstore_df['order_date'], format='%m/%d/%Y')
superstore_df['order_date'].tail()

9989   2014-01-21
9990   2017-02-26
9991   2017-02-26
9992   2017-02-26
9993   2017-05-04
Name: order_date, dtype: datetime64[ns]

In [20]:
# create new day, month, and year columns for order date
superstore_df['order_year'] = superstore_df['order_date'].dt.year
superstore_df['order_month'] = superstore_df['order_date'].dt.month
superstore_df['order_day'] = superstore_df['order_date'].dt.day

superstore_df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,product_name,sales,quantity,discount,profit,profit_margin,discounted_sales,order_year,order_month,order_day
0,1,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,0.1600,261.9600,2016,11,8
1,2,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,0.3000,731.9400,2016,11,8
2,3,CA-2016-138688,2016-06-12,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,0.4700,14.6200,2016,6,12
3,4,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,-0.4000,526.6676,2015,10,11
4,5,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,0.1125,17.8944,2015,10,11

In [21]:
# convert ship date in datetime type to extract day, month, and year
superstore_df['ship_date'] = pd.to_datetime(superstore_df['ship_date'], format='%m/%d/%Y')
superstore_df['ship_date'].head()

0   2016-11-11
1   2016-11-11
2   2016-06-16
3   2015-10-18
4   2015-10-18
Name: ship_date, dtype: datetime64[ns]

In [22]:
# create new day, month, and year columns for ship date
superstore_df['ship_year'] = superstore_df['ship_date'].dt.year
superstore_df['ship_month'] = superstore_df['ship_date'].dt.month
superstore_df['ship_day'] = superstore_df['ship_date'].dt.day

superstore_df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,discount,profit,profit_margin,discounted_sales,order_year,order_month,order_day,ship_year,ship_month,ship_day
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,0.00,41.9136,0.1600,261.9600,2016,11,8,2016,11,11
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,0.00,219.5820,0.3000,731.9400,2016,11,8,2016,11,11
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,0.00,6.8714,0.4700,14.6200,2016,6,12,2016,6,16
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,0.45,-383.0310,-0.4000,526.6676,2015,10,11,2015,10,18
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,0.20,2.5164,0.1125,17.8944,2015,10,11,2015,10,18

In [23]:
# get rid of country column since it's just united states and all states and cities are from united states
# superstore_df = superstore_df.drop('country', axis=1)
# superstore_df.head()

## Data Dictionary

In [26]:
# create data dictionary
dd = {
    "Field Name": [
        "Row ID", "Order Id", "Order Date", "Ship Date", "Ship Mode",
        "Customer Id", "Customer Name", "Segment", "Country", "City", "State",
        "Postal Code", "Region", "Product Id", "Category", "Sub Category",
        "Product Name", "Sales", "Quantity", "Discount", "Profit", "Profit Margin", "Discounted Sales",
        "Order Year", "Order Month", "Order Day", "Ship Year", "Ship Month", "Ship Day"
    ],
    "Brief Description": [
        "Unique identifier for each row",
        "Unique identifier for each order",
        "Date when the order was placed",
        "Date when the order was shipped",
        "Shipping method chosen for the order",
        "Unique identifier for each customer",
        "Full name of the customer",
        "Customer segment type (Consumer, Corporate, Home Office)",
        "Country of the customer",
        "City of the customer",
        "State of the customer",
        "Postal code of the customer's address",
        "Region of the customer",
        "Unique identifier for each product",
        "Product category (e.g., Furniture, Technology, Office Supplies)",
        "Product sub-category (e.g., Chairs, Phones)",
        "Name of the product",
        "Revenue generated from the product in the order",
        "Number of units ordered",
        "Discount applied to the order (0-1 scale)",
        "Profit earned from the order",
        "Profit divided by sales",
        "Sales amount after discount applied",
        "Year when the order was placed",
        "Month when the order was placed",
        "Day when the order was placed",
        "Year when the order was shipped",
        "Month when the order was shipped",
        "Day when the order was shipped"
    ]
}
dd_df = pd.DataFrame(dd)

dd_df

          Field Name                                  Brief Description
0             Row ID                     Unique identifier for each row
1           Order Id                   Unique identifier for each order
2         Order Date                     Date when the order was placed
3          Ship Date                    Date when the order was shipped
4          Ship Mode               Shipping method chosen for the order
5        Customer Id                Unique identifier for each customer
6      Customer Name                          Full name of the customer
7            Segment  Customer segment type (Consumer, Corporate, Ho...
8            Country                            Country of the customer
9               City                               City of the customer
10             State                              State of the customer
11       Postal Code              Postal code of the customer's address
12            Region                             Region of the customer
13        Product Id                 Unique identifier for each product
14          Category  Product category (e.g., Furniture, Technology,...
15      Sub Category        Product sub-category (e.g., Chairs, Phones)
16      Product Name                                Name of the product
17             Sales    Revenue generated from the product in the order
18          Quantity                            Number of units ordered
19          Discount          Discount applied to the order (0-1 scale)
20            Profit                       Profit earned from the order
21     Profit Margin                            Profit divided by sales
22  Discounted Sales                Sales amount after discount applied
23        Order Year                     Year when the order was placed
24       Order Month                    Month when the order was placed
25         Order Day                      Day when the order was placed
26         Ship Year                    Year when the order was shipped
27        Ship Month                   Month when the order was shipped
28          Ship Day                     Day when the order was shipped

## Load to New CSV

In [27]:
# load to new csv
superstore_df.to_csv('cleaned_superstore.csv', index=False)
dd_df.to_csv('data_dictionary.csv', index=False)