# Analyzing Dataset / Exploratory Data Analysis (EDA)

## Importing Data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
retail_df = pd.read_csv('preprocessed_customer_shopping_data.csv')

retail_df.info()
retail_df.head()
# retail_df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99457 non-null  object
 10  age_group       99457 non-null  object
 11  year            99457 non-null  int64
 12  month           99457 non-null  int64
 13  day             99457 non-null  int64
 14  price_usd       99457 non-null  float64
 15  revenue         99457 non-null  float64
dtypes: float64(3), int64(5), object(8)
memory usage: 12.1+ MB

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall,age_group,year,month,day,price_usd,revenue
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,2022-08-05,Kanyon,Millennial,2022,8,5,36.20,181.00
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,2021-12-12,Forum Istanbul,Gen Z,2021,12,12,43.44,130.32
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,2021-11-09,Metrocity,Gen Z,2021,11,9,7.24,7.24
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,2021-05-16,Metropol AVM,Baby Boomer,2021,5,16,72.40,362.00
4,I337046,C189076,Female,53,Books,4,60.60,Cash,2021-10-24,Kanyon,Gen X,2021,10,24,1.46,5.84

## Customer Analysis

## Sales Analysis

## Category Analsysis

## Mall Analysis

## Payment Method Analysis